[project]
	description = CMake toolchain file and other scripts for the Android NDK
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rlei
[access "refs/for/refs/*"]
	read = group user/rlei
	push = group user/rlei
	label-Code-Review = -2..+2 group user/rlei
	label-Verified = -1..+1 group user/rlei
	rebase = group user/rlei
	removeReviewer = group user/rlei
	submit = group user/rlei
[access "refs/heads/*"]
	read = group user/rlei
	create = group user/rlei
	push = +force group user/rlei
	pushMerge = group user/rlei
[access "refs/tags/*"]
	push = +force group user/rlei
	pushTag = group user/rlei
	pushSignedTag = group user/rlei
